/*
================================================================================
GENERAL
================================================================================
*/

html{
    min-height: 100%;
}

body {
    min-height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(133deg, rgba(2,0,36,1) 0%, rgba(121,60,9,1) 40%, rgba(0,212,255,1) 100%);    /*background-color: #F7D59C;*/
    background-attachment: fixed;
    color: #F3F0D7;
    text-align: center;
    padding-top: 70px;
}

.container{
    position: static;
    height: auto;
    width: auto;
    background-color: #5E454B;
    border-radius: 1em;
    margin: 1em auto 1em;
    padding: 2em;
    text-align: left;
}

.removeHyperlinkStyling{
  color: inherit;
  text-decoration: inherit;
}

.dep-button{
    color: white !important;
}

.inline{
    display: inline-block;
    vertical-align: top;
}

.flex{
    display: flex;
}

.ulNoDot{
    list-style: none;
}

/*
================================================================================
NAVBAR
================================================================================
*/

.userNavbar{
    margin-right: 0px!important;
}

.navbar-brand{
    position: relative;
    margin-left: 45px;
}

.navbar-logo{
    position: absolute;
    top: 0;
    left: -45;
    width: 40px;
    height: 40px;
}

/*
================================================================================
DETAILS
================================================================================
*/

.title_detail{
    margin-bottom: 0.5em;
}

.kess_img{
    margin: 0.5em 0;
}

.detail-publication-date{
    font-size: 10;
    margin-top: 2em;
    margin-bottom: 0;
}

.detail_answer{
    padding: 1em 0;
}

.kessFoundMessage{
    margin-top: 1em;
}

.favStar{
    float: right;
}

/*
================================================================================
EMOJI-PICKER
================================================================================
*/

.emoji-mart-title-label{
    display: none;
}

.emoji-mart-preview-skins{
    display: none;
}

span[aria-label="🏬, department_store"]{
    display: none;
}

.dep-button{
    right: 0.4rem !important;
    top: 0.48rem !important;
    color: gray !important;
}

/*
================================================================================
INDEX
================================================================================
*/

.indexTitle{
    float: left;
    text-align: left;
    /* Firefox */
    width: -moz-calc(100% - 50px);
    /* WebKit */
    width: -webkit-calc(100% - 50px);
    /* Opera */
    width: -o-calc(100% - 50px);
    /* Standard */
    width: calc(100% - 50px);
    margin-left: 50px;
}

.indexBothBoxes{
    /* Firefox */
    width: -moz-calc(100% - 280px);
    /* WebKit */
    width: -webkit-calc(100% - 280px);
    /* Opera */
    width: -o-calc(100% - 280px);
    /* Standard */
    width: calc(100% - 280px);
    float: left;
}

.indexBox{
    margin: 1em;
    /* Firefox */
    width: -moz-calc(50% - 50px);
    /* WebKit */
    width: -webkit-calc(50% - 50px);
    /* Opera */
    width: -o-calc(50% - 50px);
    /* Standard */
    width: calc(50% - 50px);
}

.indexBoxLeft{
    margin-left: 40px;
    margin-right: 10px;
}

.indexBoxRight{
    right-left: 40px;
    margin-left: 10px;
}

.smallFont{
    font-size: 25px;
}

.link_kess{
    color: #FFFFFF;
    text-decoration: none;
}

.indexContainerTitle{
}

.indexContainerUl{
    list-style: none;
    margin-top: 1em;
    padding: 0;
    width: 100%;
}

.liKessSeparator{
    border: 1px solid rgba(245, 245, 220, 0.2);
    width: 73%;
    margin: 10px auto 10px;
    border-radius: 2px;
}

.tileColumn{
    margin-right: 20px;
    width: 260px;
}

.tileBox{
    color: gray;
    background-color: beige;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px 20px;
}

.tileTime{
    font-size: 12px;
    float: right;
}


/*
================================================================================
CLASSEMENT
================================================================================
*/

.classementContainerUl{
    list-style: none;
    margin: 0;
    padding: 0;
}

.classementList{
    width: 50%;
    float: left;
    margin-left: 2em;
}

.classementScore{
    float: right;
}

.pointsReminder{
    margin: 1em auto 1em;
    padding: 2em;
    border-radius: 1em;
    background-color: #f8f9fa;
    color: gray;
    text-align: left;
}

.classementPointsReminders{
    width: 35%;
    float: right;
    margin-right: 2em;
}

.detailsPointsReminders{
    width: auto;
    max-width: 1140px;
}

.boutonFiltreCat{
    background-color: #f8f9fa;
    border-radius: 3px;
    padding: 0px 10px 2px;
    margin: 5px;
}


/*
================================================================================
PROPOSER
================================================================================
*/

#id_emoji{
    resize: none;
    height: 2em;
}

div.dep-container{
    margin-top: -1em;
}

/*
================================================================================
USER PROFILE
================================================================================
*/

.userProfile{
    font-size: 20;
    width: 50%;
}

.favList{
    margin-left: 1em;
}

.liUserProfile{
    margin-bottom: 1em;
}

#id_avatar{
    width: 70px;
    height: 31px;
}

.saveAvatarButton{
    color: #5E454B;
    background-color: #F3F0D7;
}

/*
F7D59C
F3F0D7
5E454B
CEE5D0
*/