{% include "kess/header.html" %}
{% load static %}

{% block extrahead %}
{{ form.media }}
{% endblock %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'kess/style.css' %}">


{% if user.is_authenticated %}
<div class="container">
    <h2>Proposer un Kess</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        <button class="btn btn-lg btn-dark" type="submit">Envoyer</button>
    </form>

</div>
{% else %}
    <br>
    <span>⚠️ Vous n'êtes pas connecté</span>
    <br>
    <a class="removeHyperlinkStyling" href="{% url 'login'%}?next={{request.path}}">Se connecter ?</a>
{% endif %}
