{% include "kess/header.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'kess/style.css' %}">

<div class="container">

    <h2>Kess?, une communauté avant tout !</h2>
    <span>Kess? est un site communautaire, où l'entraide n'est pas juste acceptée, mais conseillée !</span></br>
    <span>
        Rejoins nous sur
        <a href="https://discord.gg/4uWbTTK8AF" target="_blank">
            {% load static %}
            <img src="{% static 'kess/images/discordWhite.png' %}" width="88" height="24" class="d-inline-block align-top" alt="">
        </a>
        🤗
    </span>

</div>