{% include "kess/header.html" %}
{% load static %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
      xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" href="{% static 'kess/style.css' %}">

<div class="container">
    <h3 class="title_detail">
        <a>
            Kess ?
        </a>
        <a>
            {% if is_fav %}
                <form class="inline favStar" action="#" method="get">
                    <input type="submit" class="btn" value="🌟" name="removeFav" title="Retirer des favoris">
                </form>
            {% else %}
                <form class="inline favStar" action="#" method="get">
                    <input type="submit" class="btn" value="⭐" name="addFav" title="Ajouter aux favoris">
                </form>
            {%endif%}
        </a>
    <h1 class="kess_img">{{ kess.emoji }}</h1>

    {% if user.is_authenticated %}
        <h3>{{kess_hint}}</h3>
        {% if is_answer_valide %}
        <div class="detail_answer">
            Catégorie : {{kess.category}}</br>
            Indice de difficulté de {{kess_diff}}
            <h3 class="kessFoundMessage">Vous avez résolu ce Kess ! La réponse est : </h3>
            <h3>"{{kess.reponse}}"</h3>
        </div>
        {% else %}
        <form action="" method="POST" class="">
            {% csrf_token %}
            <p>
                Catégorie :
                {%if display_category_hint%}
                    {{kess.category}}
                {%else%}
                    Vous aurez cet indice 5 jours aprés la publication de ce Kess
                {%endif%}
            </p>
            <p>
                Indice de difficulté de
                    {{kess_diff}}
            </p>
            <div class="form-group">
                <label class="col-form-label" for="answer">Entrez votre proposition: </label>
                <input class="form-control col-lg-5" type="answer" name="answer" id="answer" required>
            </div>
            <div class="form-group">
                <input class="btn btn-lg btn-dark" type="submit" value="Essayer la proposition">
            </div>
        </form>
        {% endif %}
        <span>Réponse pour les tests : {{kess.reponse}}</span>
    {% else %}
        <span>⚠️ Vous devez être connecté pour proposer une réponse</span>
        <br>
        <a class="removeHyperlinkStyling" href="{% url 'login'%}?next={{request.path}}">Se connecter ?</a>
    {% endif %}
    <p class="detail-publication-date">
        Kess créé par {{ kess.created_by }} et publié le :
        {{ pubDate }}
    </p>
</div>

<div class="pointsReminder detailsPointsReminders">
    <a>
        🔔 Rappel des points pour chaque Kess trouvé :
    </a></br>
    <a>
        ✅ 5 points de base
    </a></br>
    <a>
        😎 5 points si trouvé sans indice (moins de 3 jours après la publication)
    </a></br>
    <a>
        💃 5 points si trouvé sans indication de catégorie (moins de 5 jours après la publication)
    </a></br>
    <a>
        🥈 10 points si trouvé en second
    </a></br>
    <a>
        🥇 20 points si trouvé en premier
    </a></br>
</div>