{% include "kess/header.html" %}
{% load static %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'kess/style.css' %}">

<div class="container">
    <h1 class="title_detail">Voici le Kess: </h1>
    <h1 class="kess_img">{{ kess.emoji }}</h1>
    <h3>{{kess_hint}}</h3>

    {% if user.is_authenticated %}

        {% if is_answer_valide %}
        <div class="detail_answer">
            <h1>Vous avez résolu ce Kess ! La réponse est : </h1>
            <h1>"{{kess.reponse}}"</h1>
        </div>
        {% else %}
        <form action="" method="POST" class="">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-form-label" for="answer">Entrez votre proposition: </label>
                <input class="form-control col-lg-5" type="answer" name="answer" id="answer" required>
            </div>
            <div class="form-group">
                <input class="btn btn-lg btn-dark" type="submit" value="Essayer la proposition">
            </div>
        </form>
        {% endif %}
        <span>Réponse pour les tests : {{kess.reponse}}</span>
    {% else %}
        <br>
        <span>⚠️ Vous devez être connecté pour proposer une réponse</span>
        <br>
        <a class="removeHyperlinkStyling" href="{% url 'login'%}?next={{request.path}}">Se connecter ?</a>
    {% endif %}
    <p class="detail-publication-date">Kess publié le : {{ kess.date }}</p>
</div>