<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KESS</title>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/kess/">
            {% load static %}
            <img src="{% static 'kess/images/logo_header.png' %}"
                 class="d-inline-block navbar-logo" alt="">
            KESS
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/kess/allKess/">Tous les Kess</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/kess/add_kess/">Proposer Kess</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/kess/classement">Classement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kess/commu">Communauté</a>
                </li>
            </ul>
            <ul class="userNavbar navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li>
                        <a class="nav-link" href="/kess/user/">{{ user.avatar }} {{ user.name }}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/kess/login_user/">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</head>
