{% include "kess/header.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'kess/style.css' %}" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">


<div class="indexTitle">
    <h1>Bienvenue sur Kess !</h1>
</div>

<div class="indexBothBoxes inline">
    <div class="container indexBox indexBoxLeft inline">
        <span>Officiels</span>
        {% if latest_staff_kess_list %}
            <ul class="indexContainerUl">
            {% for kess in latest_staff_kess_list %}
                <li>
                    <h1>
                        <div class="flex">
                            <div class="inline">
                                <a class="smallFont">
                                    {% if user.is_authenticated and user_name in kess.foundList %}
                                    ✅
                                    {% else %}
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% endif %}
                                </a>
                            </div>
                            <div class="inline">
                                <a class="smallFont link_kess" href="{% url 'kess:detail' kess.id %}">
                                    {{ kess.emoji }}
                                </a>
                            </div>
                        </div>
                    </h1>
                </li>
                {% if not forloop.last %}
                <div class="liKessSeparator"></div>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            <p>☹ Aucun Kess disponible</p>
        {% endif %}
        </span>
    </div>

    <div class="container indexBox indexBoxRight inline">
        <span class="indexContainerTitle">Kess de la communauté</span>
        {% if latest_community_kess_list %}
            <ul class="indexContainerUl">
            {% for kess in latest_community_kess_list %}
                <li>
                    <h1>
                        <div class="flex">
                            <div class="inline">
                                <a class="smallFont">
                                    {% if user.is_authenticated and user_name in kess.foundList %}
                                    ✅
                                    {% else %}
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% endif %}
                                </a>
                            </div>
                            <div class="inline">
                                <a class="smallFont link_kess" href="{% url 'kess:detail' kess.id %}">
                                    {{ kess.emoji }}
                                </a>
                            </div>
                        </div>
                    </h1>
                </li>
                {% if not forloop.last %}
                <div class="liKessSeparator"></div>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            <p>☹ Aucun Kess disponible</p>
        {% endif %}
        </span>
    </div>
</div>

<div class="inline tileColumn">
    <ul class="indexContainerUl">
        {% for tile in user_tiles %}
        <li class="tileBox">
            <a class="tileTime">{{ tile.time }}</a></br>
            <a class="removeHyperlinkStyling" href="{% url 'kess:userPublic' tile.name %}">{{ tile.avatar }} {{ tile.name }}</a></br>
            {% if not tile.kessId == '' %}
                <a class="removeHyperlinkStyling"  href="{% url 'kess:detail' tile.kessId %}" >{{ tile.action }}</a>
            {% else %}
                <a>{{ tile.action }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>