{% include "kess/header.html" %}
{% load static %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'kess/style.css' %}">

{% if user.is_authenticated %}
    <div class="container userProfile inline">
        <h2>Ma fiche perso</h2>
        <ul class="ulNoDot">
            <li class="liUserProfile">
                <a>➡&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ user.avatar }} {{ user.name }}</a>
            </li>
            <li class="liUserProfile">
                <a>📧&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ user.email }}</a>
            </li>
            <li class="liUserProfile">
                <a>🕑&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ user.creation_date }}</a>
            </li>
            <li class="liUserProfile">
                <a class="removeHyperlinkStyling" href="/kess/classement">🏅&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ user.points }} points</a>
            </li>
            <li class="liUserProfile">
                <a>Modifier l'avatar ?</a>
            </li>
            <li class="liUserProfile">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>
                        {{ field }}
                    </p>
                    {% endfor %}
                    <button class="inline saveAvatarButton" type="submit">Sauvegarder</button>
                </form>
            </li>
        </ul>
    </div>

    <div class="container favList inline">
        <h2>Mes favoris</h2>
        {% for fav in favs %}
        <p>
            <a class="removeHyperlinkStyling" href="{% url 'kess:detail' fav.id %}">{{ fav.emoji }}</a>
        </p>
        {% endfor %}
    </div>
{% else %}
    <br>
    <span>⚠️ Vous n'êtes pas connecté</span>
    <br>
    <a class="removeHyperlinkStyling" href="{% url 'login'%}?next={{request.path}}">Se connecter ?</a>
{% endif %}